div {
  margin-bottom: 50px;
  height: 400px;
}
form {
  padding: 30px;
  width: 500px;
}
/* Bad Design */
#uglyForm input {
  border: 2px dashed;
  padding: 30 px;
  margin: 10px;
  border-color: greenyellow;
}
#uglyForm button {
  background-color: rgb(199, 34, 34);
  border: 0px;
}

#uglyForm input:hover {
  border: black solid;
  background-color: chartreuse;
}

#uglyForm input:focus {
  border: black dashed;
  background-color: coral;
}
/* DESIGN 1 */
#form1 {
  background-color: #5e0231;
  font-family: Arial;
  color: #dbc3d0;
}

#form1 h1 {
  color: white;
  margin: 0px 0px 20px 0px;
}

#form1 input {
  background-color: #dbc3d0;
  border: 2px white solid;
  padding: 10px;
  margin-bottom: 15px;
}
#form1 input:hover {
  border: black dashed;
  background-color: blue;
}
#form1 input:focus {
  border: 2px #dbc3d0 solid;
  background-color: white;
}

#form1 button {
  background-color: rgb(187, 57, 57);
  border: 3px #dbc3d0 solid;
  border-radius: 5px;
  color: #15dd15;
  padding: 10px 30px;
  font-size: 1.2em;
}
#form1 button:hover {
  background-color: #dbc3d0;
  color: rgb(216, 29, 29);
}

/* DESIGN 2 */
#form2 {
  background-color: #49274a;
  font-family: Tahoma;
  font-variant: small-caps;
}

#form2 h1 {
  color: white;
}

#form2 input {
  background-color: #49274a;
  border: 1px #828081 solid;
  padding: 10px;
  color: #828081;
  font-variant: small-caps;
  margin-bottom: 20px;
  width: 200px;
}

#form2 input:hover,
#form1 input:focus {
  border: 1px #94618e solid;
  color: #94618e;
}

#form2 button {
  background-color: #94618e;
  border: 0px;
  color: white;
  font-size: 0.9em;
  padding: 10px 20px;
  font-variant: small-caps;
  width: 225px;
}

/* DESIGN 3 */
#form3 {
  background-color: #caebf2;
  font-family: "Century Gothic";
}

#box {
  background-color: white;
  border-radius: 2px;
  margin: 50px;
  text-align: center;
  width: 500px;
}

#form3 h1 {
  color: #ff3b3f;
  text-align: center;
  margin: 0px;
}

#form3 input {
  border: 0px;
  border-bottom: 1px #a9a9a9 dashed;
  padding: 10px;
  color: #a9a9a9;
  width: 80%;
  margin: 10px;
  font-family: "Century Gothic";
}

#form3 input:focus,
#form3 input:hover {
  border: 1px #ff3b3f solid;
}

#form3 button {
  background-color: #ff3b3f;
  border: 0px;
  border-radius: 2px;
  color: white;
  font-size: 0.9em;
  padding: 10px 20px;
  margin: 20px;
  width: 85%;
  font-family: "Century Gothic";
}
